html {
  font-size: 62.5%;
  font-family: "Noto Sans";
}

body {
  background-color: #424b54;
}
#decks {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.deck {
  width: 30rem;
  height: 35rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem;
  border-color: black;
  background-color: #93a8ac;
  font-size: 1.6rem;
}
#deck1 {
  border-color: #1e152a;
  border-width: 0.4rem;
}
#deck2 {
  border-color: #1e152a;
  border-width: 0.4rem;
}
#deck3 {
  border-color: #1e152a;
  border-width: 0.4rem;
}
#deck4 {
  border-color: #1e152a;
  border-width: 0.4rem;
}
.kaart {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #ffffff;
  display: inline-block;
  font-size: 2rem;
}
#gameTitle {
  color: #ffff;
  text-align: center;
}
#middle-game {
  display: flex;
  justify-content: center;
}
#aflegstapel > .kaart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 800;
  height: 10rem;
  width: 5rem;
  border-color: #1e152a;
  border-width: 0.2rem;
  margin: 2.5rem;
  padding: 2rem;
}
#lower-game {
  display: flex;
  justify-content: center;
  height: 10rem;
  align-items: end;
}

#pakken-button {
  height: 4rem;
  border-radius: 1rem;
}
#pakken-button:active {
  border-color: rgb(0, 0, 0);
  border-width: 0.4rem;
}
#pakken-button {
  transition-duration: 0.4s;
}

#pakken-button:hover {
  background-color: #889696; /* Green */
  color: #ffff;
}
