html {
  font-size: 62.5%;
  font-family: "Noto Sans";
}
#decks {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.deck {
  width: 30rem;
  height: 35rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem;
  border-color: black;
  background-color: rgb(228, 228, 228);
  font-size: 1.6rem;
}
#deck1 {
  border-color: rgb(167, 0, 0);
}
#deck2 {
  border-color: rgb(167, 167, 0);
}
#deck3 {
  border-color: rgb(0, 0, 167);
}
#deck4 {
  border-color: rgb(0, 167, 0);
}
.kaart {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  display: inline-block;
  font-size: 2rem;
}
#gameTitle {
  text-align: center;
}

#lower-game{
display:flex;
justify-content:center;
height: 10rem;
align-items: end;
}

  #pakken-button{
    height: 4rem;
    border-radius:1rem;
    }
    #pakken-button:active {
    border-color: rgb(0, 0, 0)
    }
      #pakken-button {
      transition-duration: 0.3s;
      }
      
     #pakken-button:hover {
       background-color: #0c885a; /* Green */
       color: white;
      }
